@inject NavigationManager NavigationManager;
@inject UserService UserService
@using TireCompany.Data


<head>
    <link href="css/header.css" rel="stylesheet" />
</head>
<div class="headerbar">
    <div class="title">
        <h1>TireCompany</h1>

    </div>
    <div class="buttons">
        <a>dfdfdfdf</a>
        <a>dfdfdfdf</a>
        <a>dfdfdfdf</a>
        <a class="exit" @onclick="Logout">Выйти из аккаунта</a>
    </div>
</div>



@code {

    public void Logout()
    {
        NavigationManager.NavigateTo("/logout", true);


    }

}