@inject NavigationManager NavigationManager;
@inject UserService UserService
@using TireCompany.Data


<head>
    <link href="css/header.css" rel="stylesheet" />
</head>
<div class="headerbar">
    <div class="title">
        <h1>TireCompany</h1>

    </div>
    <div class="buttons">
        <a @onclick="AddProduct">Добавить продукцию</a>
        <a @onclick="AddProductType">Добавить тип продукта</a>

        <a @onclick="Logout">Выйти из аккаунта</a>
    </div>
</div>



@code {

    public void Logout()
    {
        NavigationManager.NavigateTo("/logout", true);


    }
    public void AddProduct()
    {
        NavigationManager.NavigateTo("/addproduct", true);
    }
     public void AddProductType()
    {
        NavigationManager.NavigateTo("/addproducttype", true);
    }
}