@page "/editproducttype"
@inject NavigationManager NavigationManager
@inject UserService UserService
@inject ProductService ProductService
@inject ProductTypeService ProductTypeService
@inject MaterialService MaterialService
@using MongoDB.Bson;
@using MongoDB.Bson.Serialization.Attributes;
@using Microsoft.AspNetCore.Hosting
@inject IWebHostEnvironment env
@using System.IO
@using TireCompany.Data

<head>
    <link href="css/editproducttype.css" rel="stylesheet" />
</head>
<div class="editproducttype">
    <div class="editproducttype_form">
        <h1>Изменить тип продукта</h1>
        <form>
            <div class="input_box">

              
                <input type="text" placeholder="Название" @bind-value="@title" />
                @if (error != null)
                {
                    <p class="error">@error</p>
                }
                <a class="btn_addproducttype" @onclick="Save">Сохранить</a>


            </div>
        </form>
    </div>
</div>
@code{

    ProductType productType;
    string title = "";
    string error;
    protected override async Task OnInitializedAsync()
    {
        productType = Database.FindProductTypeById(ProductTypeService.ProductTypeId);
        title = productType.Title; 
    }
    private void Save()
    {
        if(title==""){
            error = "Заполните название";
        }
        else
        {
            Database.EditProductType(MaterialService.MaterialId, new ProductType(title));
            NavigationManager.NavigateTo("/lookmaterials");
        }
    }

}