@font-face {
    font-family: "MainFont";
    src: url("../fonts/MainFont.woff2");
}

* {
    margin: 0;
    padding: 0 ;
    font-family: MainFont
}

html, body {
    width: 100%;
    height: 100%
}

.addmaterial {
    background: #E7F2E8;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.addmaterial_form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 8px
}
.addmaterial_form h1{
    margin: 10px 0;
    font-size:48px
}
.input_box {
    display: flex;
    flex-direction: column;
}
    .input_box input {
        padding:8px;
        border: none;
        outline: none;
        font-size: 26px;
        background: #e9e6eb;
        margin-top: 10px;
        border-radius: 8px
    }
.btn_addmaterial {
    padding: 7px 10px;
    border: none;
    outline: none;
    font-size: 26px;
    background: #52756F;
    margin-top: 10px;
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    transition:0.3s;
    border-radius:8px
}
    .btn_addmaterial:hover {
        color: white;
        background: #99BDB0;
        transition:0.3s
    }


.error {
    padding: 5px 8px;
    border: none;
    outline: none;
    font-size: 18px;
    background: #e64343;
    margin-top: 10px;
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px
}

    .error p {
        margin: 0 ;
    }
    p{ margin:0}