@font-face {
    font-family: "MainFont";
    src: url("../fonts/MainFont.woff2");
}

* {
    margin: 0;
    padding: 0 ;
    font-family: MainFont
}

html, body {
    width: 100%;
    
}
body{display:flex}
.material {
    background: #8ffc8d;
    display: flex;
    height: fit-content;
    align-items: center;
    padding: 15px;
    margin: 20px;
    border-radius: 15px;
}
.material img{width:30px;height:30px;margin-left:10px}
.materials {
    margin: 30px;
    display: flex;
    justify-content: flex-start;
    height: fit-content;
    flex-wrap:wrap
}